.a { font-size:12px; padding-bottom:5px; }
form { padding:0px; margin:0px; }
#textbody { width:100%; height:200px; margin-bottom:5px; padding:5px; font: normal 18px 'Times New Roman', Times, serif; outline:none; }
